@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #65B2D1, #A9CBD9);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #1240527e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#65B2D1 ;
    text-align: center;
    text-shadow: 2px 2px 3px #1240527e;
}

h2{
    color: #A9CBD9;
}

p{
    text-align: justify;
}